main{
    height: 100%;
}

h1{
    text-align: center;
    font-size: 2rem;
}

h2{
    text-align: center;
}


.buttonContainer{
    display:flex;
    justify-self: left;
}

.button{
    height: 10rem;
    width: 10rem;

    border-radius: 8px;
    border: solid white 5px;
    margin-left : 10px;
    margin-bottom: 20px;
    font-size: 2rem;
    color: white;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.artist_btn{
    background: linear-gradient(0deg, rgb(136, 103, 255) 0%, rgb(0, 0, 255) 100%);
}

.epoch_btn{
    background: linear-gradient(0deg, rgb(99, 197, 97) 0%, rgb(39, 197, 0) 100%);
}

.genre_btn{
    background: linear-gradient(0deg, rgb(255, 169, 123) 0%, rgb(255, 89, 0) 100%);
}
