
@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  


@font-face {
    font-family: 'MontserratBold';
    /*src: url('../font/Montserrat-Bold.ttf') format('truetype');*/ /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    src: url('../font/Oswald.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

*{
    font-family:Montserrat;
}

body{
    background-color: #DCF0FF;
    margin: 0;
    height: 100vh;
}

header{
    background-color: #0094FF;
    color: #DCF0FF;
    height: 10%;
}

#logo{
    font-family: MontserratBold;
    font-size: 3rem;
}