
@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  


@font-face {
    font-family: 'MontserratBold';
    /*src: url('../font/Montserrat-Bold.ttf') format('truetype');*/ /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    src: url('../font/Oswald.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

*{
    font-family:Montserrat;
}

body{
    background-color: #DCF0FF;
    min-height: 100%;
    margin: 0;
    position: relative;
}

header{
    background-color: #0094FF;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
}

header a{
    color:#DCF0FF;
    text-decoration: none;
}

header ul{
    list-style-type: none;
    display:flex;
}

header ul li {
    margin: 0 1rem; /* Ajoute un espace entre chaque élément */
}

#logo a{
    font-family: MontserratBold;
    font-size: 3rem;
    position: relative;
    left:1.5rem;
}


footer{
    background-color: #456277;
    height: 50px;
    color:#DCF0FF;
    position: absolute;
    /* Put the footer at the bottom of the page */
    width: 100%;
    clear:both;
}