
@font-face {
    font-family: 'Oswald';
    src: url('../font/Oswald.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

body{
    font-family: Oswald;
}

main{
    height: 100%;
}

h1{
    text-align: center;
}

#song_button{
    font-family: Oswald;
    height: 12%;
    width: 80%;
    border-radius: 32px;
    background: linear-gradient(0deg, rgba(0,35,124,1) 0%, rgba(81,161,255,0.75) 100%);
    border: solid white 5px;
    margin: auto;
    margin-bottom: 20px;
    font-size: 2rem;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#song_button p{
    margin: 0;
}

#emphase{
    color:rgb(165, 205, 251);
}

.song_artist{
    font-size:20px;
}

.song_year{
    font-size:15px;
}